<a href="https://colab.research.google.com/github/blazaropinto/PDA_Data_Analysis_Python/blob/main/Worksheet_functions_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User-defined functions using datetime library

---

When working with dates and times, fairly common in data sets, we need to be able to extract certain bits of information.  

In Python, as with other languages, dates and times are stored in a data structure that combines the two together and stores the information as a number of seconds since a start point (often 1st January 1900).  This is obviously a large number but every bit of information about a date can be extracted from it and used to give a wide range of information.  

Have a go at the exercises below to use a selection of datetime functions and return a new bit of data from each, to be printed by the caller.

Before you can use datetime functions you will need to import them. Import the datetime functions like this:

`from datetime import datetime`  


For more information about datetime functions visit [w3Schools-Python datetime](https://www.w3schools.com/python/python_datetime.asp) and [Python docs](https://docs.python.org/3/library/datetime.html)

---
### Exercise 1 - print current date and time

Write a function that will return the date and time now.  The caller will print it.  

*Hint:  the format has been added for you, the other exercises will follow a similar format.   Always remember to import datetime from datetime as shown below*

In [ ]:
from datetime import datetime, timezone
# add your function, called get_datetime_now() below here
def current_datetime():
  return datetime.now(timezone.utc)

print(current_datetime())

2021-05-12 11:22:11.877508+00:00

---
Exercise 2 - print the current year

Write a function that will return the current year.  The caller will print the year.

In [ ]:
def current_year():
  return datetime.now(timezone.utc).year

print(current_year())

2021

---
### Exercise 3 - print the current day of the week

Write a function that will return the current day of the week.  The caller will print it.

In [ ]:
def current_weekday():
  return datetime.now(timezone.utc).isoweekday()

print(current_weekday())

3

---
### Exercise 4 - create a new date

Write a function that will take 3 parameters, day, month, year (3 numbers that make a valid date) and will create, and return a new date.  The caller will print the date.

In [ ]:
from datetime import date

def create_date(day, month, year):
  if day > 0 and day < 32:
    if month > 0 and month < 13:
      if len(str(year)) == 4:
        new_date = date(year, month, day)
      else:
        raise Exception('The number entered as year ({}) is invalid, it should have 4 digits, try again'.format(year))
    else:
      raise Exception('The number entered as month ({}) is invalid, try again'.format(month))
  else:
    raise Exception('The number entered as day ({}) is invalid, try again'.format(day))
  return new_date

print(create_date(33,5,5))

Exception: ignored

In [ ]:
print(create_date(23,5,5))

Exception: ignored

In [ ]:
print(create_date(23,5,1705))

1705-05-23

---
### Exercise 5 - create a valid date

Write a function that will take 3 parameters, day, month, year (3 numbers) and will:  
*   check that the month is between 1 and 12  
*   check that the day is valid for the month (e.g. if the month is 2, then the day must be between 1 and 28 (don't worry about leap years for the moment)  
*   if the date is not valid, print an error message and return None (which the caller will print)  
*   if the date is valid, store it in a new variable, return the variable and the caller will print it.

In [ ]:
def create_date2(day, month, year):
  if month > 0 and month < 13:
    if month ==2:
      if day > 0 and day < 29:
        return date(year, month, day)
      else:
        print('please enter a valid day for February')
    elif month in [1,3,5,7,8,10,12]:
      if day > 0 and day < 32:
        return date(year, month, day)
      else:
        print('please enter a valid day for this month')
    elif day > 0 and day <31:
        return date(year, month, day)
    else:
      print('the day is invalid')
  else:
    print('please enter a valid month')   
  

print(create_date2(31,5,1805))

1805-05-31

In [ ]:
print(create_date2(31,2,1805))

please enter a valid day for February
None

In [ ]:
print(create_date2(31,4,1805))

the day is invalid
None

---
### Exercise 6 - is it a leap year?

Write a function that will take a date as a parameter (you will need to create the date variable before calling the function) and will determine if it is a leap year, returning True or False.

*Hint:  a leap year is a year that is divisible by 4 but the centuries (1900, 2000, etc are only leap years if they are divisible by 400)*

In [ ]:
from datetime import datetime
def is_leap_year(date_to_check):
  # add your code below here
  if date_to_check.year%4 == 0:
    return True
  else:
    return False

check_date = datetime(1996, 12, 15)
if is_leap_year(check_date):
  print(check_date.strftime("%Y"), "is a leap year")
else:
  print(check_date.strftime("%Y"), "is not a leap year")

1996 is a leap year

---
### Exercise 7 - display parts of date/time

Write a function that will take a date and print from it the following:  
*  given date and time  
*  year (in full) 
*  month (as a number) 
*  month name 
*  week number of the year  
*  weekday of the week (as a number)  
*  day of year  
*  day of the month  
*  day of week (as a name)  

*Hint:  see w3Schools for [strftime reference](https://www.w3schools.com/python/python_datetime.asp)*

In [ ]:
def print_date_parts(test_date):
  print(test_date.strftime('%Y'),
        test_date.strftime('%m'),
        test_date.strftime('%B'),
        test_date.strftime('%u'),
        test_date.strftime('%w'),
        test_date.strftime('%j'),
        test_date.strftime('%d'),
        test_date.strftime('%A'))

test = date(1555,4,3)
print_date_parts(test)

1555 04 April 7 0 093 03 Sunday

---
### Exercise 8 - next 6 days

Write a function that will take a date and generate the dates of the following 6 days.  It should print each of the 6 days in the form:  

DAY OF THE WEEK, MONTH NAME, FULL YEAR

Hint:  to generate the days, use the function datetime.timedelta(), there is a good example of its use [here](https://www.geeksforgeeks.org/python-datetime-timedelta-function/)

In [ ]:
from datetime import timedelta

def print_next6days(date):
  for i in range(1,7):
    new_date = date + timedelta(days=i)
    print(new_date.strftime('%a, %B, %'))

print_next6days(date(1678,3,4))

1678-03-05
1678-03-06
1678-03-07
1678-03-08
1678-03-09
1678-03-10

---
### Optional extra practice

There are some similar and some more challenging exercises [here](https://www.w3resource.com/python-exercises/date-time-exercise/) if you would like to practice more. The site has its own editor.